.form-emotions {
  padding-bottom: 24px;

  @media @tablet-screen {
    padding-top: 0;
  }
}

.form-emotions__title {
  @media @tablet-screen {
    margin-top: 2px;
    margin-bottom: 27px;
  }
}

.form-emotions__wrapper {
  @media @tablet-screen {
    margin: 0 auto;
    max-width: 768px;
  }
}

.form-emotions__textarea {
  box-sizing: border-box;
  padding: 13px;
  height: 150px;
  width: 100%;
  background-color: @gray-fields;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  resize: none;
  margin-bottom: 53px;
  border: 4px solid transparent;
  outline: none;

  @media @tablet-screen {
    margin-bottom: 43px;
    height: 160px;
  }

  @media @desktop-screen {
    margin-bottom: 43px;
  }

  &::placeholder {
    color: rgba(@black, 0.3);
  }

  &:hover {
    background-color: @gray;
  }

  &:focus {
    border: 4px solid @gray-fields;
    background-color: @white;
  }
}

.form-emotions__button {
  padding-top: 19px;
  padding-bottom: 13px;

  @media @tablet-screen {
    padding-left: 5px;
  }

  @media @desktop-screen {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 95px;
  }
}
