.hero {
  margin-top: 56px;
  height: 389px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @accent-hover;
  background-image: url("../img/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 28%;
  background-size: cover;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media @tablet-screen {
    height: 518px;
    background-image: url("../img/back-desktop@2x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    height: 57px;
    width: 100%;
    background-image: url("../img/icons/hero-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero--small {
  margin-top: 56px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @accent-down;
  background-image: url("../img/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  .catalog-hero__image,
  .form-hero__image {
    @media @tablet-screen {
      width: 461px;
      height: auto;
    }
  }

  @media @tablet-screen {
    height: 290px;
    background-image: url("../img/hero-catalog-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-catalog-desktop@2x.jpg");
    }
  }

  &::after {
    position: absolute;
    content: "";
    height: 57px;
    width: 100%;
    bottom: -1px;
    left: 0;
    background-image: url("../img/icons/hero-triangle.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }
}

.hero__image {
  margin-top: 8px;

  @media @tablet-screen {
    margin-top: -8px;
    width: 461px;
    height: 350px;
  }

  &--small {
    @media @tablet-screen {
      width: 460px;
      height: 78px;
    }
  }
}

