.page-subject {
  background-color: @white;
}

.page-subject--catalog {
  padding-top: 40px;

  @media @tablet-screen {
    padding-top: 62px;
  }

  @media @desktop-screen {
    padding-top: 102px;
  }
}

.page-subject--form {
  padding-top: 37px;

  @media @tablet-screen {
    padding-top: 66px;
  }

  @media @desktop-screen {
    padding-top: 115px;
  }
}

.page-subject__wrapper {
  max-width: 435px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.page-subject__catalog-title {
  margin-top: 0;

  @media @tablet-screen {
    margin-bottom: 30px;
  }
}

.page-subject__form-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  text-transform: uppercase;
  margin-bottom: 25px;

  @media @tablet-screen {
    margin: 0;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 30px;
    line-height: 87%;
    text-transform: uppercase;
  }

  @media @desktop-screen {
    margin-bottom: 31px;
  }
}
