.advices {
  border-bottom: 0;
}

.advices__list {
  list-style: none;
  padding: 0 18px;
}

.advices__item {
  text-align: left;
  padding-left: 47px;
  padding-top: 8px;
  margin-bottom: 22px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
  }

  &:nth-child(1) {
    &::before {
      background-image: url("../img/icons/house.svg");
    }
  }

  &:nth-child(2) {
    &::before {
      background-image: url("../img/icons/burger.svg");
    }
  }

  &:last-child {
    &::before {
      background-image: url("../img/icons/present.svg");
    }
    margin-bottom: 0;
  }
}

.advices__item-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  text-transform: uppercase;
  color: @black;
}

.advices__item-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: @text;
}
