.catalog {
  padding-top: 25px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  padding: 24px 20px;
  border-top: 1px solid #e5e5e5;
}

.catalog__link {
  display: block;
  margin-bottom: 15px;
}

.catalog__item-image {
  width: 100%;
  height: auto;
}

.catalog__item-text-box {
  margin-bottom: 11px;
}

.catalog__item-title {
  font-size: 14px;
  margin-bottom: 0;
}

.catalog__item-author {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.catalog__item-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog__item-likes-number {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
