.form {
  padding: 36px 0;
}

.form__section {
  border-top: 1px solid #e5e5e5;
  padding: 24px 20px 39px;
}

.form__section-title {
  text-align: center;
}

.form__fieldset {
  display: block;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    .form__radio-marker,
    .form__checkbox-marker {
      background-color: #e5e5e5;
    }
  }

  &:active {
    .form__radio-marker,
    .form__checkbox-marker {
      background-color: #d5d5d5;
    }
  }
}

.form__input-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 58px;
  padding: 0 12px;
  border: 4px solid transparent;
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  color: #000000;
  outline: none;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    border: 4px solid #f2f2f2;
    background-color: #ffffff;
  }
}

.form__input-text {
  padding-left: 16px;
  line-height: 1;
}

.form__input-radio,
.form__input-checkbox {
  display: block;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  margin: 0;
}

.form__radio-marker {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;

  &:hover {
    background-color: #e5e5e5;
  }
}

.form__input-radio:checked + .form__radio-marker {
  background-image: url("../../img/icons/radio-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__input-radio:focus + .form__radio-marker {
  background-color: #e5e5e5;
}

.form__radio-text,
.form__checkbox-text {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  color: #000000;
  padding: 10px 0 10px 62px;
  position: relative;
}

.form__checkbox-marker {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.form__input-checkbox:checked + .form__checkbox-marker {
  background-image: url("../../img/icons/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__input-checkbox:focus + .form__checkbox-marker {
  background-color: #e5e5e5;
}

.form__button-box {
  padding: 0 20px;
}

.form__legeng {
  display: block;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 175%;
  text-align: right;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
