.interest {
  text-align: center;
  padding: 40px 0 50px;

  @media @tablet-screen {
    padding: 61px 0 58px;
  }

  @media @desktop-screen {
    padding: 59px 0 67px;
  }
}

.interest__wrapper {
  padding: 0 18px;
}

.interest__title {
  display: block;
  margin: 0 auto;
  max-width: 260px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  // text-align: center;
  // text-transform: uppercase;
  color: @black;

  @media @tablet-screen {
    font-size: 30px;
    line-height: 87%;
    margin-bottom: 31px;
  }
}

.interest__text {
  display: block;
  margin: 0 auto 32px;
  max-width: 261px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: @text;

  br {
    display: none;
  }

  @media @tablet-screen {
    max-width: 435px;
    margin-bottom: 42px;
  }

  @media @desktop-screen {
    margin-bottom: 48px;
  }
}

.interest__link {
  @media @tablet-screen {
    width: 458px;
    margin: 0 auto;
  }
}
