.popup {
  // z-index: 110;
  // position: absolute;
  // top: 50%;
  // margin-top: -140px;
  display: block;
  text-align: center;
  background-color: @white;

  @media @tablet-screen {
    max-width: 400px;
    margin: 0 auto;
  }
}

.popup__wrapper {
  padding: 45px 42px 35px;
}

.popup__text {
  padding-bottom: 28px;
}

.popup__button-box {
  padding: 20px;
  background-color: @gray-fields;
}

.popup--success {
  @media @tablet-screen {
    max-width: 640px;
  }

  .popup__text {
    padding-bottom: 0;
  }
}
