.popup {
  // z-index: 110;
  // position: absolute;
  // top: 50%;
  // margin-top: -140px;
  display: block;
  text-align: center;
  background-color: #ffffff;
}

.popup__wrapper {
  padding: 45px 42px 35px;
}

.popup__text {
  padding-bottom: 28px;
}

.popup__button-box {
  padding: 20px;
  background-color: #f2f2f2;
}

.popup--success {
  .popup__text {
    padding-bottom: 0;
  }
}

