.social {
  display: flex;
  align-items: center;
}

.social__link {
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: @accent;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: @accent-hover;
  }

  &:active {
    background-color: @accent-down;

    .social__image {

      path {
        fill: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
