.video-player {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 177px;
  background-color: @accent;
  background-image: url("../img/video-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video-player__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
